<!doctype html>
<html lang="ja">

<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
<title>とりトレ</title>
<link rel="stylesheet"   href="css/toritore_style.css"> 
</head>

<body>

<form name="form1" method="post" action="00_login_01.cgi">
<header class="site-header">
<nav  class="gnav">
<ul class="gnav__menu">
<li class="gnav__menu__item">とりトレ</li>
<li class="gnav__menu__item">Username: <tmpl_var name = user>さん　
<input type="submit" value="保存（ログアウト）" class="btn"></form>
</li>
</ul>
</nav>
</header>

<h1>事前腕試しの正解数</h1>
<div id="container_vertically_long">
<div id="itemM">
<p class="sub_title">

</p>

事前腕試しお疲れ様でした。<br>

<p class="font150"><tmpl_var name = user> さんは、<font color="red"><tmpl_var name = question>問中<tmpl_var name = correct_count>問正解</font>でした。</p>
※腕試しは難易度高めでした。場合によっては1問も正解できなかったかもしれませんが、<br>
　クイズトレーニングを行うことで、正解できるようになる可能性が高まりますのでご安心ください。<br>
※事前（今の腕試し）・中間・事後・遅延腕試しの答え合わせは、遅延腕試し終了後（最初の実験終了から約2週間後）に行います。<br>
　答えが気になるかもしれませんがご了承ください。（とりトレの流れはマニュアルを参照）<br><br>

<p class="font150">本日の作業は以上となります。明日はクイズを<tmpl_var name = n_quizzes_per_day>問解いていただきますので、よろしくお願いいたします。</p>
</div>
<div id="itemN">
</div>
<div id="itemO">
</div>
<div id="itemP">
</div>

</div>
</body></html>