<!doctype html>
<html lang="ja">

<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
<title>とりトレ</title>
<link rel="stylesheet"   href="css/toritore_style.css"> 
</head>

<body>

<header class="site-header">
  <nav  class="gnav">
    <ul class="gnav__menu">
      <li class="gnav__menu__item">とりトレ</li>
      <li class="gnav__menu__item">Username: <tmpl_var name = user>　さん </li>
    </ul>
  </nav>
</header>

<h1>中間腕試しの方法</h1>
<div id="container_vertically_long">
  <div id="itemM">
<p class="sub_title">

</p>

クイズトレーニング、お疲れ様です。<br>

トレーニングの効果を確認するため、中間腕試しを行います。<br>
テストの成績による不利益は一切ありませんのでご安心ください。<br>
ただし、<font color="red">わからない場合でも、音声を聞いたのちに回答をお願いいたします。</font><br>
（回答結果はユーザーごとに集計しているため、音声をほとんど聞かずに回答した場合、管理者のほうで確認できます）。<br><br>
研究で使用するデータのため、何卒ご協力をお願いいたします。<br><br>
【注意事項】<br>
・テストは全部で<tmpl_var name = n_question>問あり、5分ほどかかります。<br>
・クイズトレーニングの効果を正確に測定するために<tmpl_var name = n_question>問解いていただく必要があります。<br>
<br><br>


以下をクリックするとテストが開始されます。<br><br>
<form method="post" action="13_mtest.cgi" >
<input type="hidden" name="user" value="<tmpl_var name = user>">
<input type="hidden" name="adaptive" value="<tmpl_var name = adaptive>" >
<input type="submit" value="腕試し開始"  class="next"></form><br><br>


  </div>
  <div id="itemN">
  </div>
  <div id="itemO">
  </div>
  <div id="itemP">
  </div>

</div>
</body></html>