<!doctype html>
<html lang="ja">

<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
<title>とりトレ</title>
<link rel="stylesheet"   href="css/toritore_style.css"> 
</head>

<body>

<header class="site-header">
  <nav  class="gnav">
    <ul class="gnav__menu">
      <li class="gnav__menu__item">とりトレ</li>
      <li class="gnav__menu__item">Username: <tmpl_var name = user>　さん </li>
    </ul>
  </nav>
</header>

<h1>事後腕試しの正解数</h1>
<div id="container_vertically_long">
  <div id="itemM">
<p class="sub_title">

</p>

事後腕試しお疲れ様でした！<br>
<p class="font150"><tmpl_var name = user> さんは、<br>
事前腕試し<tmpl_var name = pre_question>問中<tmpl_var name = pre_correct>問正解、
中間腕試し<tmpl_var name = m_question>問中<tmpl_var name = m_correct>問正解、
事後腕試し<font color="red"><tmpl_var name = post_question>問中<tmpl_var name = post_correct>問正解</font>でした。</p>


最後にアンケートにご回答ください。<br>
<form method="post" action="18_postquestionnaire.cgi" > 
<input type="submit" value="事後アンケートへ" class="btn">
<input type="hidden" name="user" value="<tmpl_var name = user>" >
</form>
  </div>
  <div id="itemN">
  </div>
  <div id="itemO">
  </div>
  <div id="itemP">
  </div>

</div>
</body></html>