<!doctype html>
<html lang="ja">

<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
<title>とりトレ</title>
<link rel="stylesheet"   href="css/toritore_style.css"> 
</head>

<body>

<header class="site-header">
  <nav  class="gnav">
    <ul class="gnav__menu">
      <li class="gnav__menu__item">とりトレ</li>
    </ul>
  </nav>
</header>

<h1>音声再生がうまくいかない場合</h1>
<div id="container_vertically_long">
  <div id="itemM">
  自動再生機能がブロックされている場合、音声が再生されません。
  以下に、お使いのブラウザごとの設定方法が記載されています。<br>

<p>
  ＞<a href="#chrome">Google Chromeをお使いの方</a><br>
  ＞<a href="#edge">Microsoft Edgeをお使いの方</a><br>
  ＞<a href="#safari">Safariをお使いの方</a><br>

  <a class="no_decoration" name="chrome"></a>
</p><br>
<h3>下記を行っても解決しない、また、その他の再生トラブルの場合</h3>
  特に「Safari」を使用している場合トラブルが発生することが多いです。他のブラウザ（「Google Chrome」推奨）でもお試しください。
    上記を試しても再生されない場合は、大変申し訳ございませんが、本実験に参加いただくことができません。xxx@yyyまでご連絡ください。<br><br>

<h3>Google Chromeをお使いの方</h3>
※デフォルトでは自動再生が許可されています。<br><br>
1. ブラウザの検索欄の左側にある🔒(鍵)ボタンをクリック<br>
2. 「サイトの設定」をクリック<br>
3. 「権限」の「音声の設定」が「自動（デフォルト）」あるいは「許可」となっているか確認し、<br>
   「ミュート」になっていたら、「自動（デフォルト）」あるいは「許可」に変更する
<p class="guide"><img src="guide/Chrome1.png" width="500" title="Chrome1.png" align="center"></p>
<p class="guide"><img src="guide/Chrome2.png" width="500" title="Chrome2.png" align="center"></p>
<br>
<form method="post" action="<tmpl_var name = content_url>" >
  <input type="hidden" name="user" value="<tmpl_var name = user>">
  <input type="submit" value="<tmpl_var name = content_info>へ戻る" class="btn"></form><br>
  ※システム上不具合が発生するため、<font color = "red"><u>ブラウザの戻るボタンは押さないでください。</u></font><br>
<h3><a class="no_decoration" name="edge"></a><br>
Microsoft Edgeをお使いの方</h3>
※デフォルトでは自動再生が許可されています。<br><br>
1. ブラウザの検索欄の左側にある🔒(鍵)ボタンをクリック<br>
2. 「サイトのアクセス許可」をクリック<br>
3. 左側の「設定」にある「サイトのアクセス許可」をクリック<br>
4. スクロールし、「メディアの自動再生」をクリック<br>
5. 「メディアの自動再生」が「許可」となっているか確認し、<br>
   「制限」あるいは「禁止」になっていたら、「許可」に変更する
<p class="guide"><img src="guide/Edge1.png" width="500" title="Edge1.png" align="center"></p>
<p class="guide"><img src="guide/Edge2.png" width="500" title="Edge2.png" align="center"></p>
<p class="guide"><img src="guide/Edge3.png" width="500" title="Edge3.png" align="center"></p>
<p class="guide"><img src="guide/Edge4.png" width="500" title="Edge4.png" align="center"></p>
<br>
<form method="post" action="<tmpl_var name = content_url>" >
  <input type="hidden" name="user" value="<tmpl_var name = user>">
  <input type="submit" value="<tmpl_var name = content_info>へ戻る" class="btn"></form><br>
  ※システム上不具合が発生するため、<font color = "red"><u>ブラウザの戻るボタンは押さないでください。</u></font><br>
<a class="no_decoration" name="safari"></a><br>
<h3>Safariをご利用をお使いの方</h3>
※デフォルトでは<font color="red">自動再生が許可されていません！</font><br><br>
1. 左上にある「Safari」→「このWebサイトでの設定」の順番でクリック<br>
2. 「自動再生」を「すべてのメディアを自動再生」に設定する
  <p class="guide"><img src="guide/Safari1.png" width="500" title="Safari1.png" align="center"></p>
  <p class="guide"><img src="guide/Safari2.png" width="500" title="Safari2.png"></p>
  <br>
<form method="post" action="<tmpl_var name = content_url>" >
  <input type="hidden" name="user" value="<tmpl_var name = user>">
  <input type="submit" value="<tmpl_var name = content_info>へ戻る" class="btn"></form><br>
  ※システム上不具合が発生するため、<font color = "red"><u>ブラウザの戻るボタンは押さないでください。</u></font><br>
 
  </div>
  
  <div id="itemN">
  </div>
  <div id="itemO">
  </div>
  <div id="itemP">
  </div>

</div>

<br><br>
</body></html>