<!doctype html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" >
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/audio.min.js"></script>
<script>
audiojs.events.ready(function() {
var as = audiojs.createAll();
});
</script>
<script src="js/js-webshim/minified/polyfiller.js"></script>
  <script> 
     webshim.activeLang('en');
     webshims.polyfill('forms');
     webshims.cfg.no$Switch = true;
  </script> 
<title>とりトレ</title>
<link rel="stylesheet"   href="css/toritore_style.css"> 
</head>

<body>
	<header class="site-header">
	<nav>
    <ul class="gnav__menu">
    	<li class="gnav__menu__item">とりトレ</li>
    </li></ul></nav></header>
	<div id="container_vertically_long">
	<div id="itemM">
	<p class="login">
		<tmpl_var name = message >
	</p>
		</div>
  <div id="itemN">
  </div>
  <div id="itemO">
  </div>
  <div id="itemP">
  </div>
</div>
</body></html>
